html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: -webkit-linear-gradient(left, #e2cfcf 1px, transparent 1px), -webkit-linear-gradient(#8ca6d9 1px, transparent 1px), -webkit-linear-gradient(#cfd6e2 1px, transparent 1px), -webkit-linear-gradient(#f2f2f3 1px, transparent 1px);
  background-image: -moz-linear-gradient(#8ca6d9 1px, transparent 1px), -moz-linear-gradient(#cfd6e2 1px, transparent 1px), -moz-linear-gradient(#f2f2f3 1px, transparent 1px);
  background-image: -o-linear-gradient(#8ca6d9 1px, transparent 1px), -o-linear-gradient(#cfd6e2 1px, transparent 1px), -o-linear-gradient(#f2f2f3 1px, transparent 1px);
  background-image: linear-gradient(#8ca6d9 1px, transparent 1px), linear-gradient(#cfd6e2 1px, transparent 1px), linear-gradient(#f2f2f3 1px, transparent 1px);
  background-size: 24px 100%, 100% 24px, 100% 12px, 100% 6px;
}
body {
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 96px;
  margin-top: 6rem;
  margin-left: 48px;
  margin-left: 3rem;
  margin-right: 48px;
  margin-right: 3rem;
}
body header #workshop-details {
  border-left: 12px solid #ffa500;
  border-left: 0.75rem solid #ffa500;
  margin-left: -48px;
  margin-left: -3rem;
  padding-left: 36px;
  padding-left: 2.25rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
body header h1,
body header a {
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
body header h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 72px;
  line-height: 4.5rem;
  font-weight: 900;
  position: relative;
  top: -18px;
  top: -1.125rem;
}
body header .dates,
body header .location {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}
body header .dates {
  line-height: 42px;
  line-height: 2.625rem;
}
body header .location {
  line-height: 18px;
  line-height: 1.125rem;
}
body header #workshop-link {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  text-transform: upperca;
}
body header a {
  font-size: 26px;
  font-size: 1.625rem;
  text-decoration: none;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  border-bottom: 2px solid #ffa500;
  border-bottom: 0.125rem solid #ffa500;
  color: #ffa500;
  line-height: 30px;
  line-height: 1.875rem;
}
section[role="main"] {
  margin-top: 36px;
  margin-top: 2.25rem;
  max-width: 576px;
  max-width: 36rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
section[role="main"] h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
section[role="main"] p {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
section[role="aside"] {
  position: absolute;
  top: 36px;
  top: 2.25rem;
  left: 48px;
  left: 3rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 800;
  color: #ffa500;
}
#subtitle {
  font-weight: 400;
  margin-top: -18px;
  margin-top: -1.125rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
li {
  text-indent: -1em;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
    background-image: -webkit-linear-gradient(#8ca6d9 1px, transparent 1px), -webkit-linear-gradient(#cfd6e2 1px, transparent 1px), -webkit-linear-gradient(#f2f2f3 1px, transparent 1px);
    background-image: -moz-linear-gradient(#8ca6d9 1px, transparent 1px), -moz-linear-gradient(#cfd6e2 1px, transparent 1px), -moz-linear-gradient(#f2f2f3 1px, transparent 1px);
    background-image: -o-linear-gradient(#8ca6d9 1px, transparent 1px), -o-linear-gradient(#cfd6e2 1px, transparent 1px), -o-linear-gradient(#f2f2f3 1px, transparent 1px);
    background-image: linear-gradient(#8ca6d9 1px, transparent 1px), linear-gradient(#cfd6e2 1px, transparent 1px), linear-gradient(#f2f2f3 1px, transparent 1px);
    background-size: 100% 18px, 100% 9px, 100% 4.5px;
  }
}
