html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("/images/iphone-ipad-watermarks.png");
  background-repeat: no-repeat;
}
body {
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 96px;
  margin-top: 6rem;
  margin-left: 48px;
  margin-left: 3rem;
  margin-right: 48px;
  margin-right: 3rem;
  max-width: 576px;
  max-width: 36rem;
}
strong {
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #ffa500;
  font-weight: 800;
}
header #workshop-details {
  border-left: 12px solid #ffa500;
  border-left: 0.75rem solid #ffa500;
  margin-left: -48px;
  margin-left: -3rem;
  padding-left: 36px;
  padding-left: 2.25rem;
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
}
header h1,
header a {
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
header h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 72px;
  line-height: 4.5rem;
  font-weight: 900;
  position: relative;
  top: -18px;
  top: -1.125rem;
}
header p {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
header .dates,
header .location {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}
header .dates {
  line-height: 42px;
  line-height: 2.625rem;
  margin-top: -6px;
  margin-top: -0.375rem;
}
header .location {
  line-height: 18px;
  line-height: 1.125rem;
}
header #workshop-link {
  text-transform: uppercase;
}
header a {
  font-size: 26px;
  font-size: 1.625rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  border-bottom: 2px solid #ffa500;
  border-bottom: 0.125rem solid #ffa500;
  line-height: 30px;
  line-height: 1.875rem;
}
section[role="main"] {
  margin-top: 36px;
  margin-top: 2.25rem;
  max-width: 576px;
  max-width: 36rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
p {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
section[role="aside"] {
  position: absolute;
  top: 36px;
  top: 2.25rem;
  left: 48px;
  left: 3rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 800;
  color: #ffa500;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
section#additional-info {
  position: absolute;
  top: 96px;
  top: 6rem;
  left: 696px;
  left: 43.5rem;
  width: 240px;
  width: 15rem;
}
section#additional-info p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 21px;
  margin-top: 1.3125rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
section#additional-info p:first-of-type {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
section#additional-info figure {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  width: 100%;
}
section#additional-info figure img {
  width: 100%;
  margin-bottom: 9px;
  margin-bottom: 0.5625rem;
  display: block;
}
section#additional-info figcaption {
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
  margin-left: -6px;
  margin-left: -0.375rem;
  color: #ffa500;
  position: relative;
  top: 1px;
}
blockquote {
  border-left: 6px solid #808080;
  border-left: 0.375rem solid #808080;
  padding-left: 18px;
  padding-left: 1.125rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  font-style: italic;
}
blockquote span.quote-byline {
  font-weight: 400;
  display: block;
  text-align: right;
  margin-top: 24px;
  margin-top: 1.5rem;
}
#subtitle {
  font-weight: 400;
  margin-top: -18px;
  margin-top: -1.125rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
iframe {
  margin-top: 18px;
  margin-top: 1.125rem;
  border: 1px solid #000;
  box-sizing: border-box;
}
.highlight {
  font-weight: 800;
}
ul {
  list-style-type: disc;
  list-style-position: outside;
}
li {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
  section[role="aside"] {
    font-size: 1.25em;
  }
  header h1 {
    line-height: 48px;
    line-height: 3rem;
    top: -6px;
    top: -0.375rem;
  }
  #subtitle {
    margin-top: 6px;
    margin-top: 0.375rem;
  }
  section#additional-info {
    position: static;
    width: 100%;
  }
  section#additional-info p {
    font-size: 1em;
  }
  section#additional-info figure:before {
    content: 'About the instructor';
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin-top: 24px;
    margin-top: 1.5rem;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
    font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  }
  section#additional-info figure img {
    width: 100%;
  }
  section#additional-info figcaption {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
section#testimonials p:first-of-type {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
section#testimonials blockquote {
  font-weight: 400;
}
section#testimonials .quote-byline {
  font-weight: 800;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
}
