html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("/images/iphone-ipad-watermarks.png");
  background-repeat: no-repeat;
  font-size: 16px;
}
body {
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 96px;
  margin-top: 6rem;
  margin-left: 48px;
  margin-left: 3rem;
  margin-right: 48px;
  margin-right: 3rem;
  max-width: 576px;
  max-width: 36rem;
}
strong {
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #e94437;
  font-weight: 800;
}
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
p {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
ul {
  list-style-type: disc;
  list-style-position: outside;
}
li {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
blockquote {
  border-left: 6px solid #808080;
  border-left: 0.375rem solid #808080;
  padding-left: 18px;
  padding-left: 1.125rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  font-style: italic;
}
blockquote span.quote-byline {
  font-weight: 400;
  display: block;
  text-align: right;
  margin-top: 24px;
  margin-top: 1.5rem;
}
iframe {
  margin-top: 18px;
  margin-top: 1.125rem;
  border: 1px solid #000;
  box-sizing: border-box;
}
footer {
  margin-top: 48px;
  margin-top: 3rem;
  border-top: 1px solid #000;
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 14px;
  font-size: 0.875rem;
}
.highlight {
  font-weight: 800;
}
header #workshop-details {
  border-left: 12px solid #e94437;
  border-left: 0.75rem solid #e94437;
  margin-left: -48px;
  margin-left: -3rem;
  padding-left: 36px;
  padding-left: 2.25rem;
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
}
header h1,
header a {
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
header h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 48px;
  line-height: 3rem;
  font-weight: 900;
  position: relative;
  top: -6px;
  top: -0.375rem;
}
header p {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
header #subtitle {
  font-weight: 400;
  margin-top: 6px;
  margin-top: 0.375rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
header .dates,
header .location {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}
header .dates {
  line-height: 42px;
  line-height: 2.625rem;
  margin-top: -6px;
  margin-top: -0.375rem;
}
header .location {
  line-height: 18px;
  line-height: 1.125rem;
}
header #workshop-link {
  text-transform: uppercase;
}
header a {
  font-size: 26px;
  font-size: 1.625rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  border-bottom: 2px solid #e94437;
  border-bottom: 0.125rem solid #e94437;
  line-height: 30px;
  line-height: 1.875rem;
}
section[role="main"] {
  margin-top: 36px;
  margin-top: 2.25rem;
  max-width: 576px;
  max-width: 36rem;
}
section[role="main"] p,
section[role="main"] li {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
section[role="main"] h2 {
  text-align: left;
}
section[role="main"] h2:first-of-type {
  display: none;
}
#at-a-glance {
  position: absolute;
  top: 36px;
  top: 2.25rem;
  left: 48px;
  left: 3rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 800;
  color: #e94437;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
section#about-the-instructor {
  position: absolute;
  top: 102px;
  top: 6.375rem;
  left: 696px;
  left: 43.5rem;
  width: 240px;
  width: 15rem;
}
section#about-the-instructor h2 {
  display: none;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
}
section#about-the-instructor p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 18px;
  margin-top: 1.125rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
section#about-the-instructor p:first-of-type {
  margin-top: 24px;
  margin-top: 1.5rem;
}
section#about-the-instructor figure {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  width: 100%;
}
section#about-the-instructor figure img {
  width: 100%;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  border: 1px solid #000;
  display: block;
  box-sizing: border-box;
}
section#about-the-instructor figcaption {
  font-family: HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
  margin-left: -6px;
  margin-left: -0.375rem;
  position: relative;
  top: 1px;
}
section#testimonials p:first-of-type {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
section#testimonials blockquote {
  font-weight: 400;
}
section#testimonials .quote-byline {
  font-weight: 800;
}
#staticGoogleMapOfVenue {
  border: 1px solid #000;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  html {
    background-position: -200px 0px;
  }
  body {
    width: 384px;
    width: 24rem;
  }
  section#about-the-instructor {
    left: 480px;
    left: 30rem;
    margin-right: 96px;
    margin-right: 6rem;
  }
  section#about-the-instructor blockquote {
    font-size: 12px;
    font-size: 0.75rem;
  }
  #at-a-glance {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
  section[role="aside"] {
    font-size: 1.25em;
  }
  header h1 {
    line-height: 48px;
    line-height: 3rem;
    top: -6px;
    top: -0.375rem;
  }
  #subtitle {
    margin-top: 6px;
    margin-top: 0.375rem;
  }
  section#about-the-instructor {
    position: static;
    width: 100%;
  }
  section#about-the-instructor p {
    font-size: 1em;
  }
  section#about-the-instructor h2 {
    display: block;
    margin-top: 36px;
    margin-top: 2.25rem;
  }
  section#about-the-instructor figure img {
    width: 100%;
  }
  section#about-the-instructor figcaption {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
  section#about-the-instructor blockquote {
    font-size: 1em;
  }
  #at-a-glance {
    font-size: 1.4em;
  }
}
