@import PixelParityRems

// These are not necessary as the default line height is 24 pixel parity rems but
// are here to demonstrate how to override the default.
baseLineHeight = 24rem
calculateLineHeightConstants()

//////////////////////////////////////////////////////////////////////
//
// Constants
//
//////////////////////////////////////////////////////////////////////

kMaxWidthOfMainContent = 576rem

// Striking red, sampled from Music app’s icon.
kAccentColor = rgb(233, 68, 55)


//////////////////////////////////////////////////////////////////////
//
// Element selectors (low specificity)
//
//////////////////////////////////////////////////////////////////////

html
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	// font-size 12px
	background-image url(/images/iphone-ipad-watermarks.png)
	background-repeat no-repeat
	showBaselineGrid(show: no,,,showQuarterLineHeightMarks: yes, showHorizontalGrid: yes)

body
	line-height baseLineHeight
	margin-top FourLineHeights
	margin-left TwoLineHeights
	margin-right TwoLineHeights
	max-width kMaxWidthOfMainContent

strong
	font-weight 800

a
	text-decoration none
	color kAccentColor
	font-weight 800

h2
	font-size OneLineHeight
	line-height OneAndAHalfLineHeights
	margin-top OneLineHeight
	margin-bottom HalfLineHeight
	font-family HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif

p
	margin-bottom HalfLineHeight

ul
	// Hanging bullets.
	list-style-type disc
	list-style-position outside

li
	margin-bottom HalfLineHeight

blockquote
	border-left QuarterLineHeight solid grey
	padding-left ThreeQuartersLineHeight
	margin-bottom OneLineHeight
	font-size 18rem
	font-weight 800
	line-height OneLineHeight
	useJustifiedText()
	font-style italic

	span.quote-byline
		font-weight 400
		display block
		text-align right
		margin-top OneLineHeight

iframe
	// Currently used only for the map.
	margin-top ThreeQuartersLineHeight
	border 1px solid black
	box-sizing border-box


//////////////////////////////////////////////////////////////////////
//
// Generic classes.
//
//////////////////////////////////////////////////////////////////////


.highlight
	font-weight 800


//////////////////////////////////////////////////////////////////////
//
// Sections and other higher specificity selectors.
//
//////////////////////////////////////////////////////////////////////

header
	#workshop-details
		border-left HalfLineHeight solid kAccentColor
		margin-left - TwoLineHeights
		padding-left OneAndAHalfLineHeights
		margin-bottom OneAndAHalfLineHeights

	h1, a
		font-family HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif

	h1
		font-size TwoLineHeights
		line-height ThreeLineHeights
		font-weight 900
		// Pull up the heading so that it is flush top with the top of the orange accent border.
		position relative
		top - ThreeQuartersLineHeight

	p
		// For some reason this affects the space between the location and dates divs
		// although neither is enclosed in a paragraphy tag.
		//
		// TODO: Find out why this is.
		//
		margin-bottom 0

	.dates, .location
		font-size OneLineHeight
		font-weight 600

	.dates
		line-height OneAndThreeQuartersLineHeights
		margin-top - QuarterLineHeight

	.location
		line-height ThreeQuartersLineHeight

	#workshop-link
		text-transform uppercase

	a
		// display block
		font-size 26rem
		padding-bottom 3rem
		border-bottom 2rem solid kAccentColor
		line-height OneAndAQuarterLineHeights


section[role="main"]
	margin-top OneAndAHalfLineHeights
	max-width kMaxWidthOfMainContent
	useJustifiedText()

	// I want this heading in there so that we have a meaningful document outline, but
	// I don’t want it to be visible for aesthetic reasons.
	h2:first-of-type
		display: none


div[role="aside"]
	position absolute
	top OneAndAHalfLineHeights
	left TwoLineHeights
	font-family HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif
	font-size 26rem
	line-height OneAndAHalfLineHeights
	font-weight 800
	color kAccentColor
	margin-bottom OneLineHeight


section#about-the-instructor
	position absolute
	top FourLineHeights
	left kMaxWidthOfMainContent+FiveLineHeights
	width 10*baseLineHeight

	h2
		// By default, do not display the heading when in the sidebar (default).
		// (This will be overriden when the content is displayed as part of the
		//  one‐column flow.)
		display: none
		font-size OneLineHeight
		line-height OneAndAHalfLineHeights
		margin-top OneLineHeight
		margin-bottom HalfLineHeight
		font-family HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif

	p
		font-size 14rem
		line-height OneLineHeight
		//margin-top ThreeQuartersLineHeight
		margin-top 3rem + ThreeQuartersLineHeight // Where is the 3rem optical adjustment coming from?
		padding-bottom 3rem
		useJustifiedText()

	p:first-of-type
		margin-top 3rem + OneLineHeight

	figure
		margin-bottom OneLineHeight
		width 100%

		// TO-DO: Add Retina version of headshot and size to exactly 10 line heights
		// ====== (240px — not including the drop shadow.)
		img
			width 100%

			margin-bottom 3rem+QuarterLineHeight
			display block // To remove the space between the image and the figure caption.

	figcaption
		font-family HelveticaNeue-CondensedBold, "Hevetica Neue", "Helvetica", sans-serif
		font-size 14rem
		line-height OneLineHeight
		text-align center
		margin-left -6rem // Optical adjustment to center for image, not image+drop shadow.
		// color kAccentColor
		position relative	// Optical adjustment…
		top 1px 			// …fix 1px vertical rhythm error.


#subtitle
	font-weight 400
	margin-top - ThreeQuartersLineHeight // To compensate for pulled up H1.
	margin-bottom HalfLineHeight


section#testimonials
	p:first-of-type
		margin-bottom OneLineHeight
	blockquote
		font-weight 400
		// margin-bottom OneAndAHalfLineHeights
	.quote-byline
		font-weight 800

//////////////////////////////////////////////////////////////////////
//
// Media queries
//
//////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 680px)

	html
		font-size 14px

	section[role="aside"]
		font-size 1.25em

	header h1
		line-height TwoLineHeights
		top - QuarterLineHeight

	#subtitle
		margin-top QuarterLineHeight

	section#about-the-instructor
		position static
		width 100%

		p
			font-size 1em

		h2
			display block
			margin-top OneAndAHalfLineHeights

		figure img
			width 100%

		figcaption
			font-size ThreeQuartersLineHeight

@media only screen and (max-width: 480px)
	html
		font-size 14px
		showBaselineGrid(show: no, baseFontSize: 12, showQuarterLineHeightMarks: yes)

@media only screen and (max-width: 400px)
	html
		font-size 11px

